block(page).elem(intro) {
  padding-top: 17em;
  padding-bottom: 8em;
  box-sizing: border-box;

  elem(intro-heading) {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  elem(intro-description) {
    margin-right: 26px;
  }

  elem(intro-description) {
    margin-bottom: 2em;
  }
}
