.link{
  opacity: 1;
  transition: opacity .3s ease;
}
.link,
.link:hover,
.link:active,
.link:focus,
.link:visited,
.link.active{
  color: inherit;
  text-decoration: none;
}
.link:hover{
  opacity: .7;
}
